.container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
	text-align: justify;
	font-family: 'Roboto Mono', monospace;
}

/* MENU DE NAVEGAÇÃO */
.menu {
	margin: auto;
	width: 100%;
	clear: both;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 10px solid #004141;
		border-bottom: 1px dashed #004141;
    background-color: #56B48C;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.menu a:hover:not(.active) {
    background-color: #004141;
}

.menu a.active {
    color: #f3f3f3;
    background-color: #004141;
}
.menu li.contato {
	float: right;
}
/* MENU DE NAVEGAÇÃO */
a {
	color: #f3f3f3;
	text-decoration: none;
}
h1 {
	float: right;
	margin-right: 30px;
	font-size: 2em;
}

article {
	padding: 60px 10px 50px 15px;
}
footer {
	margin: auto;
	padding: 26px;
	width: 100%;
	border-top: 1px solid #004141;
  background-color: #94C4AF;
}


/* TESTEEEE */	
