.container {
	margin: auto;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;	
	background-color: #FFF;
	text-align: justify;
	font-family: Lucida Console;
}

/* MENU DE NAVEGAÇÃO */
.menu {
	margin: auto;
	width: 100%;
	clear: both;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px 0px 1px 0px solid #e7e7e7;
    background-color: #f3f3f3;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover:not(.active) {
    background-color: #ddd;
}

.menu a.active {
    color: #fff;
    background-color: #b3b3b3;
}
.menu li.contato {
	float: right;
}
a {
	color: #666;
	text-decoration: none;
}
h1 {
	float: right;
	margin-right: 30px;
}

/*	padding: 60px 15px 50px 15px;*/
.conteudo {
	width: 90%;
	margin: auto;
	min-height: 500px;
	
}
article {
	padding: 60px 10px 50px 15px;
}
.footer {
	margin: auto;
	width: 100%;
	height: 290px;
	border: 1px 0px 1px 0px solid #e7e7e7;
    background-color: #f3f3f3;
}


/* TESTEEEE */

form {
	float: left;
}